body {
    margin: 0;
    padding: 0;
    background-image: url('imagenes/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }

 header{
    text-align: center;
 }

 div header li {
    display:inline
 }

h1 {
    font-size: 40px;
    margin-bottom: -10px;
}

h2 {
    font-size: 20px;
}

ul {
    list-style: none;
}

 .contenedor {
/*  margin: 0 auto;    */
    margin-top: 5%;
    background-color: transparent; /* Cambiado de blanco a transparente */
    position: relative;
    height: 82vh;
}


.boton {
    display: block;
    text-align: center;
    padding: 15px;
    margin: 20px auto;
    background:yellow;
    color: black;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    width: 700px;
}

.boton:hover {
    color: black;
    transition: 0.3s;
    transform: scale(1.1);
}


.fotoPerfil {
    display: block;
    
    margin-top: 20px;
    margin-left: 43%;
    width: 300px;
    height: 200px;
    border-radius: 70px;
    object-fit: cover;
}

.logos {
    width: 5vh;
    margin: 5px;
}




